<!-- {{include "../common/HeadTemplate.html" obj}}
{{include '../common/NavbarTemplate.html'}}
{{include "../common/FootTemplate.html" obj}} -->


{{extend './layout.html'}}
{{block 'title'}}{{title}}{{/block}}

<!-- 样式表文件 -->
{{block 'head'}}
    <link rel="stylesheet" href="css/index.css" type="text/css">
{{/block}}

<!-- 主要内容区域 -->
{{block 'content'}}
<div class="nav" id="navList"></div>

<!-- js文件 -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
<script src="js/home/index.min.js"></script>
<script>

</script>

{{/block}}